*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 31, 31);;
}
.game-div{
    height: 60vh;
    width: 60vw;
    margin-top: 10%;
    margin-left: 20%;
    background-color: rgb(0, 102, 0);
    box-shadow: 20px 20px 8px 2px rgb(0 0 0 / 20%), 0 10px 20px 0 rgb(0 0 0 / 19%);
    position: relative;
   
}

